AnchorPane {
  -fx-font-family: "Helvetica";
}

.app-bar {
  -fx-background-color: #4285F4;
  -fx-padding: 10;
  -fx-alignment: center-left;
}

.app-title {
  -fx-font-size: 24px;
  -fx-text-fill: white;
  -fx-fill: white;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.header {
  -fx-background-color: #4285F4;
  -fx-padding: 10;
}

.header-title {
  -fx-font-weight: bold;
  -fx-padding: 10;
  -fx-fill: white;
}

.button {
  -fx-background-color: #4285F4;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 10;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.button:hover {
  -fx-background-color: #357ae8;
}

.button.orange {
  -fx-background-color: #FFA500;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 10;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.button.orange:hover {
  -fx-background-color: #FF8C00;
}

.button.red {
  -fx-background-color: #DB4437;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 10;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.button.red:hover {
  -fx-background-color: #C1351D;
}

.text-field {
  -fx-background-color: white;
  -fx-border-color: #4285F4;
  -fx-border-width: 1;
  -fx-padding: 5;
  -fx-font-size: 14px;
}

.scroll-pane {
  -fx-background-color: white;
  -fx-border-color: #4285F4;
  -fx-border-width: 1;
}

.flow-pane {
  -fx-background-color: white;
  -fx-hgap: 30;
  -fx-vgap: 30;
  -fx-padding: 10;
}